<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Kisan OTP App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/users">All Contacts</a></li>
      <li><a href="/messages/all">All Messages</a></li>
      
    </ul>
  </div>
</nav>